{% extends 'bike/base.html' %}
{% block title %}Transactions{% endblock %}
{% block content %}
<div style="width: 80%;margin: auto;margin-top: 30px;">
    <div class="d-flex w-100 justify-content-between" style="margin-bottom: 20px;">
        <h5 class="mb-1">You have a total of {{transactions|length}} orders, and your bill is ${{cost}}, your balance is ${{balance}}. </h5>
    </div>
    {% if not transactions|length %}    
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">You have no order records for the time being. <a href="/">Click to rent a bicycle.</a></h5>
        
    </div>
    {% else %}
    <h4 style="margin-bottom: 30px;">The list of your transactions is as follows:</h4>
    <div class="list-group">
        {% for transaction in transactions %}
        {% if not transaction.status %}
        <a href="/transaction/{{transaction.id}}/" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Order #{{transaction.unique}}</h5>
                <small>ongoing</small>
            </div>
            <p class="mb-1">Start Position: ({{transaction.start_position}})</p>
            <small>{{transaction.start_time}}</small>
        </a>
        {% else %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Order #{{transaction.unique}}</h5>
                <small class="text-muted">Total ${{transaction.calculate}}</small>
            </div>
            <p class="mb-1">From ({{transaction.start_position}}) to ({{transaction.finish_position}}).</p>
            <small class="text-muted">{{transaction.start_time}} to {{transaction.finish_time}}</small>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

<script>

    function record() {
        let form = new FormData(),
            request = new XMLHttpRequest();
        form.append("bike", "1416awd1");
        form.append("content", "adnkandlnawhvjagdakm;mdkljabhv");
        request.open("post", "/record/", false);
        request.send(form);
    }
</script>
{% endblock %}